html {
    font-family: Arial, Helvetica, sans-serif;
    /* filter: brightness(30%); */
}

body {
    height: 100vh;
    margin: 0;
    background-color:#eeeeff;
}

a {
    text-decoration: none;
    color: white;
}

a:link {
    color: white;
}

.moodboard-container {
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 35px;

}

.side-menu {
    margin: 0;
    width: 210px;
    background-color:#0c0c47;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-top-right-radius: 25px;

}

.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0 10px 0;

}

.profile-icon{
    margin: 0;
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 570px;
    z-index: 0;
    overflow: auto;
    margin-top: 20px;
}

.option-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.option-container:hover {
    background-color: white;
}

.option-container:hover .menu-icon {
    background-color: #0c0c47;
}

.option-container:hover .menu-text {
    color: #0c0c47;
}

.menu-icon {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.menu-text {
    margin: 0 0 0 15px;
}

#profile-text {
    margin: 0 0 0 10px;
}

#arrow-icon {
    width: 32px;
    height: 32px;
    margin-left: 60px;
}

#create-new-list {
    color:#5454d5;
    cursor: pointer;
}

.list-name-block {
    margin: 10px 0 0 0;
    padding: 0;
    display: none;
    flex-direction: column;
    background-color: white;
    color: #0c0c47;
    border-radius: 10px;
    height:fit-content;
    max-height: 190px;
    overflow: auto;
    transition: 1.0s;
}

.list-name-block a {
    margin: 0;
    padding: 0;
    color: #0c0c47;
    
}

.list-name-block a:link {
    color: #0c0c47;
}

.list-name-block h4 {
    margin: 0;
    padding: 10px 10px 10px 13px;

}

.current-mood {
    display: flex;
    flex-direction: column;
    z-index: 2;
    
}

.current-mood button {
    background-color: #36369b;
    color: white;
    padding: 20px 5px;
    font-size: small;
    font-weight: 700;
    border-radius: 7px;

}

.main-container {
    width: 1100px;
    margin: 60px 0 30px 0;
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0;
}

.header h1 {
    margin: 0;
    align-self: center;
}


.moodboard-block-container {
    min-height: 0;
    flex: 1;
    flex-direction: column;
    overflow: auto;
    margin-top: 7px;
}

